* {
  box-sizing: border-box;
}
*::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    content: " ";
    clear: both;
}

.clearfix::before, .clearfix::after, .dl-horizontal dd::before, .dl-horizontal dd::after,
.container::before, .container::after, .container-fluid::before, .container-fluid::after,
.row::before, .row::after, .form-horizontal .form-group::before, .form-horizontal,
.form-group::after, .btn-toolbar::before, .btn-toolbar::after,
.btn-group-vertical > .btn-group::before, .btn-group-vertical > .btn-group::after,
.nav::before, .nav::after, .navbar::before, .navbar::after, .navbar-header::before,
.navbar-header::after, .navbar-collapse::before, .navbar-collapse::after,
.pager::before, .pager::after, .panel-body::before,
.panel-body::after, .modal-footer::before, .modal-footer::after {
    display: table;
    content: " ";
    clear: both;
}

.divider{
    margin: 5px 0 5px 0;
}
.divider::after, .divider::before{
    clear: both;
}

select {
    overflow-y:auto !important;
    text-align: center !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
}

select::-ms-expand {display: none; }

@-moz-document url-prefix(){
    select { width: 100%; background-position: right 30px center !important; border: none !important;}
}

select option {
    border: none !important;
    font-size: smaller;
    z-index: 20;
}

/* Resistor Colour Bands */
#band1{
    top: 70px;
    left: 48px;
}

#band2{
    top: 70px;
    left: 125px;
}

#band3{
    top: 70px;
    left: 210px;
}

#band4{
    top: 70px;
    left: 290px;
}

#band5{
    top: 70px;
    left: 390px;
}

#band6{
    top: 70px;
    left: 480px;
}

#band1, #band2, #band3, #band4, #band5, #band6 {
    height: 120px;
    width: 70px;
    border: none!important;
    padding: 5px !important;
    margin: auto;
    background: none !important;
    border-radius: 0 !important;
    position: absolute;
 /*   opacity: 0;*/
}

.z1{
    z-index: 3;
    position: absolute;
}

/* Resistor Bands Outline */
#d1, #d2, #d3, #d4, #d5, #d6{
/*    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;*/
    margin-bottom: 5px;
    position: absolute;
}

#d1:hover, #d2:hover, #d3:hover, #d4:hover, #d5:hover, #d6:hover {
    background-color: rgba(0, 0, 0, 0.3) !important;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
}
#d1{
    left: 66px;
}

#d2{
    left: 150px;
}

#d3{
    left: 215px;
}

#d4{
    left: 280px;
}

#d5{
    left: 410px;
}

#d6{
    left: 494px;
}

.d_rect {
    top: 52px;
    width: /*56px;*/ 9%;
    padding-bottom: 26%;
    /*height: 85px;*/
    /*background: transparent;*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-left: 0 !important;
    z-index: 2;
    overflow: hidden;
}
.d_rect_in {
    top: 59px;
    width: 9%;/*56px; height: 82px;*/
    padding-bottom: 22%;
    /*background: transparent;*/
/*    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;*/
    border-radius: 3px;
    margin-left: 0 !important;
}
.noborder {
    border-width: 0 !important;
    border-color: transparent  !important;
}

.d_rect, .d_rect_in, .z1 {
    cursor: pointer !important;
}

.sw, .sw4, .sw5, .sw6{
    line-height: inherit !important;
}

/*Results*/
#dpanel_head{
    color: lightsalmon;
    font-size: 1rem;
}
.dpanel, .dpanel2, .dpanel3, .dpanel4 {
    color: skyblue;
}